# 가상환경 (venv)
.venv/
venv/

# 파이썬 캐시
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter notebook 체크포인트
.ipynb_checkpoints/

# 데이터셋 제외
data/*.csv
data/*.jsonl

# 빌드/실행 파일
Kiwi/build/
*.so
*.out
*.exe
*.dll

## BE
# dependencies
web/Backend/node_modules

#build
web/Backend/build

##FE
# dependencies
web/Frontend/node_modules
web/Frontend/.pnp
web/Frontend/.pnp.js

# testing
web/Frontend/coverage

# production
web/Frontend/build

# misc
web/Frontend/.env
web/Frontend/.DS_Store
web/Frontend/.env.local
web/Frontend/.env.development.local
web/Frontend/.env.test.local
web/Frontend/.env.production.local

web/Frontend/npm-debug.log*
web/Frontend/yarn-debug.log*
web/Frontend/yarn-error.log*


# 에디터/IDE 파일
.vscode/
.idea/
.DS_Store

# 기타
*.log
*.tmp

