# 가상환경
.venv/
venv/

# 파이썬 캐시
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter notebook 체크포인트
.ipynb_checkpoints/

# 데이터셋 제외
data/
data/*.csv
data/*.jsonl

# 빌드/실행 파일
Kiwi/
Kiwi/build/
*.so
*.out
*.exe
*.dll

# BE (Backend)
web/Backend/express/node_modules
web/Backend/express/build

# FE (Frontend)
web/Frontend/node_modules
web/Frontend/.pnp
web/Frontend/.pnp.js

# FE 테스트/빌드/환경
web/Frontend/coverage
web/Frontend/build
web/Frontend/.env
web/Frontend/.env.local
web/Frontend/.env.development.local
web/Frontend/.env.test.local
web/Frontend/.env.production.local
web/Frontend/npm-debug.log*
web/Frontend/yarn-debug.log*
web/Frontend/yarn-error.log*

# 에디터/IDE 파일
.vscode/
.idea/
.DS_Store

# 기타
*.log
*.tmp
